@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Poppins:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #e4e4e4;
  scroll-behavior: smooth;
}

.header {
  background-color: #000;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  opacity: 90%;
  width: 100%;
  height: 93px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
}

.header-container {
  display: flex;
  align-items: center;
  width: 80%;
}

.logo {
  width: 10%;
}

.logo img {
  width: 60%;
}

.logo img:hover {
  opacity: 0.4;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn-mobile {
  display: none;
}

.menu-list {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: normal;
}

.menu-list p:hover {
  color: #b6b6b6;
}

.language {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-between;
}

.eua {
  opacity: 25%;
}

.eua:hover {
  opacity: 100%;
}

.brasil.english {
  opacity: 25%;
}

.eua.english {
  opacity: 100%;
}

.brasil.english:hover {
  opacity: 100%;
}

.banner {
  background: url(/assets/background-banner.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-family: "Mrs Saint Delafield", Arial, Helvetica, sans-serif;
  font-size: 230px;
  line-height: 44px;
  font-weight: normal;
  margin-top: 100px;
  color: #90908f;
}

.about-me {
  background-color: #020202;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}

.title {
  font-size: 55px;
  font-family: "Noto Serif KR", Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.text {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 50px;
  font-weight: lighter;
  display: flex;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.button {
  height: 78px;
  width: 320px;
  background-color: transparent;
  border: 2px solid #9e9ea0;
  font-size: 20px;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.button:hover {
  border: none;
  background-color: #585858;
  color: #020202;
  font-weight: 500;
}

.background-word {
  z-index: 9;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  overflow: hidden;
}

.background-word p {
  font-size: 200px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #191919;
}

.back-sobre {
  text-align: right;
  margin-right: -30px;
}

.back-mim {
  text-align: left;
  margin-left: -30px;
}

.portfolio {
  background-color: #020202;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}

.carousel-portfolio {
  width: 100%;
  height: 360px;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.page {
  width: 1280px;
  height: 100%;
  display: flex;
  margin: 0;
}

#atual {
  transition: all 1s;
}

.chevron {
  padding: 0 40px;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slide-portfolio {
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.slide-portfolio h1 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.image-portfolio {
  width: 400px;
  height: 308.8px;
  cursor: pointer;
}

.image-portfolio:hover {
  opacity: 0.4;
}

.contact {
  background-color: #020202;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
}

.social-media {
  z-index: 10;
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  width: 50%;
}

.linkedin,
.github {
  height: 85%;
}

.back-sobre {
  text-align: right;
  margin-right: -30px;
}

.back-mim {
  text-align: left;
  margin-left: -30px;
}

.footer {
  background-color: #020202;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer-content {
  width: 80%;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 30px 0;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .menu-list {
    width: 50%;
  }

  .language {
    width: 15%;
  }

  .banner h1 {
    font-size: 150px;
  }

  .title {
    font-size: 50px;
  }

  .text {
    font-size: 20px;
  }

  .button {
    height: 73px;
    font-size: 18px;
  }

  .background-word p {
    font-size: 150px;
  }

  .carousel-portfolio {
    height: 280px;
  }

  .page {
    width: 960px;
  }

  .image-portfolio {
    width: 300px;
    height: 231.6px;
  }

  .socials {
    width: 70%;
  }

  .instagram, .email {
    height: 90%;
  }

  .linkedin,
  .github {
    height: 85%;
  }

  .footer-content {
    font-size: 15px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  .menu-list {
    width: 55%;
  }

  .language {
    width: 18%;
  }

  .banner {
    background-position: center;
  }

  .banner h1 {
    font-size: 130px;
  }

  .title {
    font-size: 45px;
  }

  .text {
    font-size: 18px;
    line-height: 40px;
  }

  .button {
    width: 250px;
    height: 70px;
    font-size: 16px;
  }

  .background-word p {
    font-size: 130px;
  }

  .carousel-portfolio {
    height: 280px;
  }

  .page {
    width: 810px;
  }

  .image-portfolio {
    width: 250px;
    height: 193px;
  }

  .socials {
    width: 70%;
  }

  .instagram, .email {
    height: 80%;
  }

  .linkedin,
  .github {
    height: 75%;
  }

  .footer-content {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
  .menu-list {
    width: 70%;
    font-size: 18px;
  }

  .logo {
    width: 20%;
  }

  .logo img {
    width: 100%;
    padding-right: 20px;
  }

  .language {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .brasil, .eua {
    width: 80%;
  }

  .banner {
    background-position: center;
  }

  .banner h1 {
    font-size: 120px;
  }

  .title {
    font-size: 40px;
    z-index: 10;
  }

  .text {
    font-size: 16px;
    line-height: 30px;
  }

  .button {
    width: 230px;
    height: 60px;
    font-size: 16px;
  }

  .background-word {
    overflow: auto;
    word-wrap: break-word;
  }

  .background-word p {
    font-size: 130px;
    line-height: 120px;
  }

  .carousel-portfolio {
    height: 280px;
  }

  .page {
    width: 810px;
  }

  .image-portfolio {
    width: 250px;
    height: 193px;
  }

  .socials {
    width: 70%;
  }

  .instagram, .email {
    height: 80%;
  }

  .linkedin,
  .github {
    height: 75%;
  }

  .footer-content {
    font-size: 12px;
  }
}

@media only screen and (max-width: 599px) { 
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar {
    width: 17%;
  }

  .menu-list {
    display: none;
  }

  .menu-list.active {
    background-color: #000;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 93px;
    align-items: center;
    justify-content: center;
  }

  .menu-list p {
    margin: 10px;
    padding: 20px;
    font-size: 22px;
  }

  .btn-mobile {
    display: flex;
    background: url(/assets/iconoir_menu-scale.svg) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .btn-mobile.close {
    display: flex;
    background: url(/assets/clarity_close-line.svg) no-repeat;
    background-size: cover;
    width: 45px;
    height: 50px;
    display: flex;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .logo {
    width: 40%;
  }

  .language {
    display: none;
  }

  .language.active {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #000;
    width: 100%;
    left: 0;
    align-items: flex-end;
    justify-content: center;
    top: 357px;
  }

  .brasil, .eua {
    padding: 0 5px;
  }

  .banner {
    background-position: center;
  }

  .banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner h1 {
    font-size: 120px;
    width: 50%;
    line-height: 100px;
  }

  .title {
    font-size: 45px;
  }

  .text {
    font-size: 18px;
    line-height: 40px;
  }

  .button {
    height: 75px;
    width: 250px;
    font-size: 18px;
  }

  .background-word p {
    font-size: 130px;
    line-height: 130px;
    word-wrap: break-word;
  }

  .page {
    display: flex;
    align-items: center;
    width: 1000px;
  }

  .slide-portfolio {
    width: 250px;
    height: 250px;
  }

  .image-portfolio {
    width: 250px;
    height: 193px;
  }

  .socials {
    width: 100%;
  }

  .instagram, .email {
    height: 80%;
  }

  .linkedin,
  .github {
    height: 75%;
  }

  .footer-content {
    font-size: 12px;
  }
}