@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Poppins:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #E4E4E4;
  scroll-behavior: smooth;
}

.eua {
  opacity: 15%;
}

.eua:hover {
  opacity: 100%;
}

.header {
  background-color: #000;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  opacity: 90%;
  width: 100%;
  height: 93px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.navbar {
  display: flex;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li {
  width: 100%;
}

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: normal;
  width: 100%;
}

.menu ul li:hover {
  color: #a0a0a0;
}

.logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.logo img:hover {
  opacity: .4;
}

.language {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.language img {
  padding: 10px;
}

.banner {
  background: url(/assets/background-banner.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-family: "Mrs Saint Delafield", Arial, Helvetica, sans-serif;
  font-size: 230px;
  line-height: 44px;
  font-weight: normal;
  margin-top: 100px;
  color: #90908F;
}

.about-me {
  background-color: #020202;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 55px;
  font-family: "Noto Serif KR", Arial, Helvetica, sans-serif;
}

.text {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 50px;
  font-weight: lighter;
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.button button {
  height: 78px;
  width: 320px;
  background-color: transparent;
  border: 2px solid #9E9EA0;
  font-size: 20px;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.button button:hover {
  border: none;
  background-color: #9E9EA0;
  color: #020202;
  font-weight: 500;
}

.background-word {
  z-index: 9;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  overflow: hidden;
}

.background-word p {
  font-size: 200px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #191919;
}

.back-sobre {
  text-align: right;
  margin-right: -30px;
}

.back-mim {
  text-align: left;
  margin-left: -30px;
}

.portfolio {
  background-color: #020202;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.carousel-portfolio {
  width: 1300px;
  height: 360px;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.page {
  width: 1280px;
  height: 100%;
  display: flex;
  margin: 0;
}

#atual {
  transition: all 1s;
}

.chevron {
  padding: 0 40px;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slide-portfolio {
  width: 400px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.slide-portfolio h1 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.image-portfolio {
  width: 400px;
  height: 308.8px;
  cursor: pointer;
}

.image-portfolio:hover {
  opacity: .4;
}

.contact {
  background-color: #020202;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-media {
  z-index: 10;
  display: flex;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.linkedin,
.github {
  height: 85%;
}

.back-sobre {
  text-align: right;
  margin-right: -30px;
}

.back-mim {
  text-align: left;
  margin-left: -30px;
}

.footer {
  background-color: #020202;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.footer-content {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 30px 0;
}
